<p>工事中でち。- @15my</p>
<p><%= APIGEE_TWITTER_API_ENDPOINT %></p>
<p><%= APIGEE_TWITTER_SEARCH_API_ENDPOINT %></p>
<% if @twitter %>
  <ul>
    <% @twitter.friends_timeline.each do |t| %>
      <%= t.inspect %>
    <% end %>
  </ul>
<% end %>
