#main_content
  #main_section_wrap
    %section#main_section
      %header
        %h1 Appearance
      %article
        = image_tag @appearance.image_path
      %footer
        = link_to 'Index', user_appearances_path(@user)
  = render :partial => 'users/sidebar'
