#main_header {
  display: block;
  position: fixed;
  width: 100%;
  background: #ccccff;
  padding: 0.3em 0em;
  overflow: hidden; }
  #main_header h1 {
    float: left;
    margin-left: 1.33em;
    font-size: 1.5em; }
  #main_header nav {
    float: right;
    margin-right: 2em; }
    #main_header nav li {
      display: block;
      float: left;
      margin-left: 1em; }
      #main_header nav li img {
        border: none; }

#main_content {
  padding-top: 5em;
  padding-left: 2em;
  padding-right: 2em; }

#sidebar {
  display: block;
  width: 15em;
  background: #ccccff;
  float: left; }
  #sidebar ul {
    padding: 1em; }

#main_section_wrap {
  width: 100%;
  margin-left: -17em;
  float: right; }

#main_section {
  display: block;
  margin-left: 17em;
  padding: 1em;
  background: #ccccff;
  overflow: hidden; }
  #main_section h1 {
    font-size: 1.5em;
    font-weight: bold; }
  #main_section article {
    float: left;
    padding: 1em; }
  #main_section aside {
    display: block; }
  #main_section footer {
    clear: both;
    display: block; }
