@import "compass/css3/gradient"

body
  margin: 0
  color: #ffffff
  background-color: #ec5050

#header
  overflow: hidden

  h1
    margin-top: 2px
    margin-bottom: 0px
    margin-left: 20px
    margin-right: 20px
    float: left

  ul
    margin-top: 0
    margin-bottom: 0
    margin-left: 250px

  li
    display: block
    float: left
    height: 32px
    padding-top: 11px
    padding-left: 12px
    padding-right: 12px
    font-size: 24px

    a
      text-decoration: none
      color: #cccccc
      &:hover
        color: #ffffff

    &.current
      background-color: #b83e3e
      a
        color: #ffffff

#main
  padding: 20px
  color: #000000
  +linear-gradient(colors(#ff9daf, #ffe9ed))
  overflow: hidden

#content
  width: 100%
  float: left
  margin-right: -320px

#sidebar
  width: 320px
  float: left

#footer
  text-align: center
  padding: 2px

iframe
  margin-top: 20px

h2.entry_title
  color: #ffffff
  background-color: #ec5050
  margin-right: 340px
  margin-top: 0
  margin-bottom: 0
  margin-left: 0