#editor
  = image_tag(appearance_path(@appearance, :format => :jpg), :id => 'appearance_image')
  %ul
    - Item.all.each do |item|
      = render :partial => 'item', :locals => {:item => item}
  = button_to('Render', 
              render_appearance_path(@appearance), 
              :remote => true, 
              :onclick => "$('#appearance_image').attr('src', '/images/loading.gif')")
