#main_content
  #main_section_wrap
    %section#main_section
      %header
        %h1 Edit Appearance
      = image_tag(appearance_path(@appearance, :format => :jpg))
      = form_for @appearance do |f|
        = f.text_field :image
        = f.submit
