#main_content
  #main_section_wrap
    %section#main_section
      %header
        %h1 Appearances
      - @appearances.each do |appearance|
        %article
          = image_tag(appearance_path(appearance, :format => :png))
