%header#main_header
  %p サブタイトル未定
  %h1 アンリア
  = flash[:notice]
  - unless current_user
    = button_to 'Login', login_path, :method => :post
  - if current_user
    = button_to 'Logout', logout_path, :method => :delete
