%aside#sidebar
  - if current_user
    %ul#userinfo
      %li
        = current_user.info.name
      %li
        = image_tag current_user.profile_image_bigger
      %li
        = current_user.info.screen_name
  - else
    Login
    